{% extends 'base.html.twig' %}
{% block title %}Editar Empresa
{% endblock %}
{% block nav %}
	{{ include('navbar/shownavbar.html.twig') }}
{% endblock %}
{% block body %}
	<div class="container">
		<h1>Editar Empresa</h1>
		<div class="row">
			<div class="col-md-9">
				{{ include('enterprise/_form.html.twig', {'button_label': 'Actualizar'}) }}
				{# {{ include('enterprise/_delete_form.html.twig') }} #}
				<a class="buttonize mt-4" href="{{ path('enterprise_index') }}">Regresar al listado de empresas</a>
			</div>
		</div>
	</div>
{% endblock %}
