{% extends 'base.html.twig' %}

{% block title %}Nueva factura{% endblock %}

{% block body %}
    <h1>Crear nueva factura</h1>

    {{ include('invoice/_form.html.twig') }}

    <a href="{{ path('invoice_index') }}">Regresar al listado de facturas</a>
{% endblock %}
