{% extends 'base.html.twig' %}

{% block title %}Listado de redes sociales{% endblock %}

{% block body %}
    <h1>Listado de redes sociales</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for network in networks %}
            <tr>
                <td>{{ network.name }}</td>
                <td>
                    <a href="{{ path('network_show', {'id': network.id}) }}">Mostrar</a>
                    <a href="{{ path('network_edit', {'id': network.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se han encontrado resultados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('network_new') }}">Crear nueva red social</a>
{% endblock %}
