{% extends 'base.html.twig' %}

{% block title %}Nueva red social{% endblock %}

{% block body %}
    <h1>Nueva red social</h1>

    {{ include('network/_form.html.twig') }}

    <a href="{{ path('network_index') }}">Regresar al listado de redes sociales</a>
{% endblock %}
