{% extends 'base.html.twig' %}

{% block title %}New ProductLine{% endblock %}

{% block body %}
    <h1>Create new ProductLine</h1>

    {{ include('product_line/_form.html.twig') }}

    <a href="{{ path('product_line_index') }}">back to list</a>
{% endblock %}
