{# FORMULARIO REGISTRO#}

<div id="form-register">
<a href="{{ path('register') }}">Registrarse</a>
</div>
{# FIN FORMULARIO REGISTRO#}

{# FORMULARIO LOGIN#}
<div id="form-login">
  <a href="{{ path('login') }}">Iniciar sesion</a>
</div>
{# FIN FORMULARIO LOGIN#}