{% extends 'base.html.twig' %}

{% block title %}Indice de Responsables{% endblock %}

{% block body %}
    <h1>Indice de Supervisores</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Telephone</th>
            </tr>
        </thead>
        <tbody>
        {% for supervisor in supervisors %}
            <tr>
                <td>{{ supervisor.name }}</td>
                <td>{{ supervisor.telephone }}</td>
                <td>                  
                    <a href="{{ path('supervisor_edit', {'id': supervisor.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No se han encontrado resultados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('supervisor_new', {identerprise: enterprise.id}) }}">Crear nuevo supervisor</a>
{% endblock %}
