{% extends 'base.html.twig' %}

{% block title %}Nuevo Supervisor{% endblock %}

{% block body %}
    <h1>Crear nuevo Supervisor</h1>

    {{ include('supervisor/_form.html.twig') }}

    {# <a href="{{ path('supervisor_index') }}">Regresar a listado de supervisores</a> #}
{% endblock %}
