{% extends 'base.html.twig' %}

{% block title %}Editar red social{% endblock %}

{% block body %}
    <h1>Editar red social</h1>

    {{ include('social_network/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('social_network_index') }}">Regresar a lista de redes sociales</a>

    {{ include('social_network/_delete_form.html.twig') }}
{% endblock %}
