{% extends 'base.html.twig' %}

{% block title %}Indice de redes sociales
{% endblock %}
{% block nav %}
	{# {{ include('enterprise/shownavbar.html.twig') }} #}
{% endblock %}


{% block body %}
	<h1>Indice de redes sociales</h1>

	<table class="table">
		<thead>
			<tr>
				<th>URL</th>
			</tr>
		</thead>
		<tbody>
			{% for social_network in social_networks %}
				<tr>
					<td>{{ social_network.url }}</td>
					<td>
						<a href="{{ path('social_network_edit', {'id': social_network.id}) }}">Editar</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">No se han encontrado registros</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('social_network_new', {'identerprise': identerprise}) }}">Crear nueva red social</a>
{% endblock %}
