{% extends 'base.html.twig' %}

{% block title %}Nueva red social{% endblock %}

{% block body %}
    <h1>Crear nueva red social</h1>

    {{ include('social_network/_form.html.twig') }}

    <a href="{{ path('social_network_index') }}">Regresar a listado de red social</a>
{% endblock %}
