{% extends 'base.html.twig' %}

{% block title %}Creacion de nuevo cliente{% endblock %}

{% block body %}
    <h1>Creacion de nuevo cliente</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}">Volver al listado</a>
{% endblock %}
