{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Acceso no permitido</h1>

    <p>
        La pagina solicitada no ha podido ser devuelta por parte del servidor, acceso no permitido para su usuario.- <a href="{{ path('main') }}">Volver a la pagina de inicio</a>.
    </p>
{% endblock %}